:host {
    background: var(--background-color);

    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;

        input {
            font-family: 'Nunito Sans', sans-serif, 'FontAwesome';
            background: var(--element-color);
            border: none;
            width: 90%;
            max-width: 20rem;
            height: 3rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        select {
            background: var(--element-color);
            color: var(--text-color);
            border: none;
            width: 60%;
            max-width: 11rem;
            height: 3rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}