/* You can add global styles to this file, and also import other style files */

/*reset*/
a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-size: 1rem;
}

p, a {
    font-size: 0.875rem;
}

:root {
    --element-color: hsl(0, 0%, 100%);
    --background-color: hsl(0, 0%, 98%);
    --text-color: hsl(200, 15%, 8%);
    --input-color: hsl(0, 0%, 52%);
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito Sans', sans-serif;

    background: var(--background-color);
    color: var(--text-color);

    input {
        color: var(--input-color);
    }

    &.dark-mode {
        --element-color: hsl(209, 23%, 22%);
        --background-color: hsl(207, 26%, 17%);
        --text-color: hsl(0, 0%, 100%);
        --input-color: hsl(0, 0%, 52%);
    }
}
